{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "extensions": [
          ".ios.ts",
          ".android.ts",
          ".ts",
          ".ios.tsx",
          ".android.tsx",
          ".jsx",
          ".js",
          ".json"
        ],
        "alias": {
          "@assets": "./src/assets",
          "@components": "./src/components",
          "@atoms": "./src/components/atoms",
          "@molecules": "./src/components/molecules",
          "@organisms": "./src/components/organisms",
          "@navigations": "./src/navigations",
          "@screens": "./src/screens",
          "@services": "./services",
          "@styles": "./src/styles",
          "@utils": "./src/utils",
          "@images": "./src/assets/images",
          "@icons": "./src/assets/icons",
          "@store": "./src/store"
        }
      }
    ]
  ]
}